In [1]:
import pandas as pd

df_global = pd.read_csv('women_in_stem.csv')  
df_us     = pd.read_csv('Visualizing Gender Gap in College Degrees.csv')  
#df_world  = pd.read_csv('World Educational Data.csv', encoding='latin1')  

# Quick inspection
print(df_global.columns) 
print(df_us.columns)      
#print(df_world.columns)

Index(['Country', 'Year', 'Female Enrollment (%)',
       'Female Graduation Rate (%)', 'STEM Fields', 'Gender Gap Index'],
      dtype='object')
Index(['Year', 'Agriculture', 'Architecture', 'Art and Performance', 'Biology',
       'Business', 'Communications and Journalism', 'Computer Science',
       'Education', 'Engineering', 'English', 'Foreign Languages',
       'Health Professions', 'Math and Statistics', 'Physical Sciences',
       'Psychology', 'Public Administration', 'Social Sciences and History'],
      dtype='object')

In [2]:
#rename certain fields

df_global.rename(columns={
    'Country': 'Country',
    'Year': 'Year',
    'STEM Fields': 'Field',
    'Female Enrollment (%)': 'FemalePercent_Global'
}, inplace=True)

In [3]:
print(df_global.columns)

Index(['Country', 'Year', 'FemalePercent_Global', 'Female Graduation Rate (%)',
       'Field', 'Gender Gap Index'],
      dtype='object')

In [4]:
#after analysing the data i noticed i missed biology from the dataset and its a stem

In [5]:
print(df_global[
    df_global['Field']
    .str.contains('Science|Technology|Engineering|Mathematics|Biology', regex=True, case=False)
] )

       Country  Year  FemalePercent_Global  Female Graduation Rate (%)  \
0    Australia  2000                  68.0                        31.3
1    Australia  2000                  55.0                        43.1
2    Australia  2000                  68.2                        62.5
3    Australia  2000                  25.3                        41.7
4    Australia  2000                  50.8                        27.6
..         ...   ...                   ...                         ...
495        USA  2023                  38.0                        39.4
496        USA  2023                  52.5                        22.7
497        USA  2023                  46.3                        43.4
498        USA  2023                  26.7                        22.8
499        USA  2023                  24.2                        14.2

                Field  Gender Gap Index
0         Engineering              0.51
1         Mathematics              0.98
2             Biology              0.99
3    Computer Science              0.97
4         Mathematics              0.76
..                ...               ...
495           Biology              0.75
496           Biology              0.65
497       Mathematics              0.58
498       Engineering              0.89
499           Biology              0.55

[500 rows x 6 columns]

In [6]:
df_global = df_global[
    df_global['Field']
    .str.contains('Science|Technology|Engineering|Mathematics|Biology', regex=True, case=False)
]

In [7]:
print(df_global)

       Country  Year  FemalePercent_Global  Female Graduation Rate (%)  \
0    Australia  2000                  68.0                        31.3
1    Australia  2000                  55.0                        43.1
2    Australia  2000                  68.2                        62.5
3    Australia  2000                  25.3                        41.7
4    Australia  2000                  50.8                        27.6
..         ...   ...                   ...                         ...
495        USA  2023                  38.0                        39.4
496        USA  2023                  52.5                        22.7
497        USA  2023                  46.3                        43.4
498        USA  2023                  26.7                        22.8
499        USA  2023                  24.2                        14.2

                Field  Gender Gap Index
0         Engineering              0.51
1         Mathematics              0.98
2             Biology              0.99
3    Computer Science              0.97
4         Mathematics              0.76
..                ...               ...
495           Biology              0.75
496           Biology              0.65
497       Mathematics              0.58
498       Engineering              0.89
499           Biology              0.55

[500 rows x 6 columns]

In [8]:
#up there i filtered the fields column to remove all non_STEM subjects

In [9]:
#Now the second data set


#Visualizing gender gap in coll

In [10]:
# transform the df_us from a wideformat df to a longformat df so we can create a time series with the df_global 

df_us_long = df_us.melt(
    id_vars=['Year'],
    var_name='Field',
    value_name='FemalePercent_US'
)

In [11]:
print(df_us_long)

     Year                        Field  FemalePercent_US
0    1970                  Agriculture          4.229798
1    1971                  Agriculture          5.452797
2    1972                  Agriculture          7.420710
3    1973                  Agriculture          9.653602
4    1974                  Agriculture         14.074623
..    ...                          ...               ...
709  2007  Social Sciences and History         49.300000
710  2008  Social Sciences and History         49.400000
711  2009  Social Sciences and History         49.400000
712  2010  Social Sciences and History         49.300000
713  2011  Social Sciences and History         49.200000

[714 rows x 3 columns]

In [12]:
# then we filter out NON-STEM subjects/field

df_us = df_us_long[
    df_us_long['Field']
    .str.contains('Engineering|Architecture|Computer Science|Mathematics|statistics|Biology', regex=True, case=False)
]

In [13]:
print(df_us)

     Year                Field  FemalePercent_US
42   1970         Architecture         11.921005
43   1971         Architecture         12.003106
44   1972         Architecture         13.214594
45   1973         Architecture         14.791613
46   1974         Architecture         17.444688
..    ...                  ...               ...
541  2007  Math and Statistics         44.100000
542  2008  Math and Statistics         43.300000
543  2009  Math and Statistics         43.300000
544  2010  Math and Statistics         43.100000
545  2011  Math and Statistics         43.100000

[210 rows x 3 columns]

In [14]:
# so i noticed in the other datasets that architecture isn't there but it is a form of engineering  also Math
# and statistics can be under mathematics..... also social science is picked up 

#  Rename specific courses for consistency
df_us_long['Field'] = (
    df_us_long['Field']
    .str.replace('Architecture', 'Engineering', regex=False)                 
    .str.replace('Math and Statistics', 'Mathematics', regex=False)
)

In [15]:
print(df_us_long)

     Year                        Field  FemalePercent_US
0    1970                  Agriculture          4.229798
1    1971                  Agriculture          5.452797
2    1972                  Agriculture          7.420710
3    1973                  Agriculture          9.653602
4    1974                  Agriculture         14.074623
..    ...                          ...               ...
709  2007  Social Sciences and History         49.300000
710  2008  Social Sciences and History         49.400000
711  2009  Social Sciences and History         49.400000
712  2010  Social Sciences and History         49.300000
713  2011  Social Sciences and History         49.200000

[714 rows x 3 columns]

In [16]:
df_us_long.head(50)

    Year        Field  FemalePercent_US
0   1970  Agriculture          4.229798
1   1971  Agriculture          5.452797
2   1972  Agriculture          7.420710
3   1973  Agriculture          9.653602
4   1974  Agriculture         14.074623
5   1975  Agriculture         18.333162
6   1976  Agriculture         22.252760
7   1977  Agriculture         24.640177
8   1978  Agriculture         27.146192
9   1979  Agriculture         29.633365
10  1980  Agriculture         30.759390
11  1981  Agriculture         31.318655
12  1982  Agriculture         32.636664
13  1983  Agriculture         31.635347
14  1984  Agriculture         31.092947
15  1985  Agriculture         31.379659
16  1986  Agriculture         31.198719
17  1987  Agriculture         31.486429
18  1988  Agriculture         31.085087
19  1989  Agriculture         31.612403
20  1990  Agriculture         32.703444
21  1991  Agriculture         34.711837
22  1992  Agriculture         33.931660
23  1993  Agriculture         34.946832
24  1994  Agriculture         36.032674
25  1995  Agriculture         36.844807
26  1996  Agriculture         38.969775
27  1997  Agriculture         40.685685
28  1998  Agriculture         41.912403
29  1999  Agriculture         42.887202
30  2000  Agriculture         45.057766
31  2001  Agriculture         45.866015
32  2002  Agriculture         47.134658
33  2003  Agriculture         47.935187
34  2004  Agriculture         47.887140
35  2005  Agriculture         47.672754
36  2006  Agriculture         46.790300
37  2007  Agriculture         47.605026
38  2008  Agriculture         47.570834
39  2009  Agriculture         48.667224
40  2010  Agriculture         48.730042
41  2011  Agriculture         50.037182
42  1970  Engineering         11.921005
43  1971  Engineering         12.003106
44  1972  Engineering         13.214594
45  1973  Engineering         14.791613
46  1974  Engineering         17.444688
47  1975  Engineering         19.134048
48  1976  Engineering         21.394491
49  1977  Engineering         23.740541

In [17]:
# 2. Filter to only STEM, excluding Social Sciences
stem_pattern = r'Engineering|Science|Computer Science|Mathematics|Biology'
df_us = df_us_long[
    df_us_long['Field']
        .str.contains(stem_pattern, regex=True, case=False) 
    & ~df_us_long['Field']
        .str.contains('Social Sciences', regex=True, case=False)   
]

In [18]:
df_us.head(20)

    Year        Field  FemalePercent_US
42  1970  Engineering         11.921005
43  1971  Engineering         12.003106
44  1972  Engineering         13.214594
45  1973  Engineering         14.791613
46  1974  Engineering         17.444688
47  1975  Engineering         19.134048
48  1976  Engineering         21.394491
49  1977  Engineering         23.740541
50  1978  Engineering         25.849240
51  1979  Engineering         27.770477
52  1980  Engineering         28.080381
53  1981  Engineering         29.841694
54  1982  Engineering         34.816248
55  1983  Engineering         35.826257
56  1984  Engineering         35.453083
57  1985  Engineering         36.133348
58  1986  Engineering         37.240223
59  1987  Engineering         38.730675
60  1988  Engineering         39.398907
61  1989  Engineering         39.096540

In [19]:
#so the third dataset doesnt have so much fields in common 
# so we picked a different table that can enable us extract a time series (workbank_tertairy female)
# we noticed that this table has some missing informations as well

In [20]:
df_wb = pd.read_csv('worldbank_tertiary_female.csv')

In [21]:
df_wb.head

<bound method NDFrame.head of                     Country Name Country Code  \
0                          Aruba          ABW
1    Africa Eastern and Southern          AFE
2                    Afghanistan          AFG
3     Africa Western and Central          AFW
4                         Angola          AGO
..                           ...          ...
261                       Kosovo          XKX
262                  Yemen, Rep.          YEM
263                 South Africa          ZAF
264                       Zambia          ZMB
265                     Zimbabwe          ZWE

                                    Indicator Name  Indicator Code     1970  \
0    School enrollment, tertiary, female (% gross)  SE.TER.ENRR.FE      NaN
1    School enrollment, tertiary, female (% gross)  SE.TER.ENRR.FE  1.62990
2    School enrollment, tertiary, female (% gross)  SE.TER.ENRR.FE  0.23683
3    School enrollment, tertiary, female (% gross)  SE.TER.ENRR.FE  0.25340
4    School enrollment, tertiary, female (% gross)  SE.TER.ENRR.FE      NaN
..                                             ...             ...      ...
261  School enrollment, tertiary, female (% gross)  SE.TER.ENRR.FE      NaN
262  School enrollment, tertiary, female (% gross)  SE.TER.ENRR.FE      NaN
263  School enrollment, tertiary, female (% gross)  SE.TER.ENRR.FE      NaN
264  School enrollment, tertiary, female (% gross)  SE.TER.ENRR.FE  0.11794
265  School enrollment, tertiary, female (% gross)  SE.TER.ENRR.FE      NaN

        1971     1972     1973     1974     1975  ...       2014       2015  \
0        NaN      NaN      NaN      NaN      NaN  ...  25.007429  23.393009
1    1.63283  1.63675  1.65217  1.69178  1.71145  ...   7.467450   7.621360
2        NaN  0.27209  0.36611  0.30405  0.33248  ...   3.457720        NaN
3    0.25283  0.26445  0.28454  0.30791  0.33216  ...   7.411460   7.576110
4        NaN      NaN      NaN      NaN      NaN  ...        NaN   7.687370
..       ...      ...      ...      ...      ...  ...        ...        ...
261      NaN      NaN      NaN      NaN      NaN  ...        NaN        NaN
262      NaN      NaN      NaN      NaN      NaN  ...        NaN        NaN
263      NaN      NaN      NaN      NaN      NaN  ...  21.356180  22.270660
264      NaN      NaN      NaN  0.53316  0.54634  ...        NaN        NaN
265      NaN      NaN      NaN      NaN      NaN  ...        NaN   9.457830

          2016       2017       2018       2019       2020      2021  \
0    23.396570        NaN        NaN        NaN        NaN       NaN
1     7.828020   8.075690   8.193460   8.169910   8.271270   8.23658
2          NaN        NaN   5.003820        NaN   5.941740       NaN
3     7.464360   7.541890   7.806940   8.071950   8.282610   8.59540
4     8.792090   8.691208   8.420124  10.476881        NaN       NaN
..         ...        ...        ...        ...        ...       ...
261        NaN        NaN        NaN        NaN        NaN       NaN
262        NaN        NaN        NaN        NaN        NaN       NaN
263  22.466761  25.345961  27.937189  28.934000  30.914190  31.54933
264        NaN        NaN        NaN        NaN        NaN       NaN
265   6.960391   7.983247   8.100265   9.806149   9.543976       NaN

          2022     2023
0          NaN      NaN
1          NaN      NaN
2          NaN      NaN
3          NaN      NaN
4          NaN  9.79058
..         ...      ...
261        NaN      NaN
262        NaN      NaN
263  34.225029      NaN
264        NaN      NaN
265        NaN      NaN

[266 rows x 58 columns]>

In [22]:
print(df_wb.columns)

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023'],
      dtype='object')

In [23]:
#identify the year columns 
year_cols = [c for c in df_wb.columns if c.isdigit()]

# melts the df from a wide to a long df
df_wb_long = df_wb.melt(id_vars=['Country Name'],
                        value_vars=year_cols,
                        var_name='Year',
                        value_name='FemalePercent_World')

#Converts the data types
df_wb_long['Year'] = df_wb_long['Year'].astype(int) #to integer
df_wb_long['FemalePercent_World'] = pd.to_numeric(df_wb_long['FemalePercent_World'], errors='coerce') #number

#sort the data
df_wb_long.sort_values(['Country Name','Year'], inplace=True)

# Drop countries with no data at all (all FemalePercent_World values = NaN)
df_wb_long = df_wb_long.groupby('Country Name').filter(
    lambda g: g['FemalePercent_World'].notna().any()
)

#to interpolate or fill in missing values 
# df_wb_long['FemalePercent_World'] = (
#     df_wb_long.groupby('Country Name')['FemalePercent_World']
#     .apply(lambda s: s.interpolate().bfill.ffill)
# )
df_wb_long['FemalePercent_World'] = (
    df_wb_long
    .groupby('Country Name', group_keys=False)['FemalePercent_World']
    .transform(lambda s: s.interpolate().bfill().ffill())
)

df_wb_clean = df_wb_long.rename(columns={'Country Name': 'Country'})

In [24]:
df_wb_clean.head

<bound method NDFrame.head of            Country  Year  FemalePercent_World
2      Afghanistan  1970             0.236830
268    Afghanistan  1971             0.254460
534    Afghanistan  1972             0.272090
800    Afghanistan  1973             0.366110
1066   Afghanistan  1974             0.304050
...            ...   ...                  ...
13299     Zimbabwe  2019             9.806149
13565     Zimbabwe  2020             9.543976
13831     Zimbabwe  2021             9.543976
14097     Zimbabwe  2022             9.543976
14363     Zimbabwe  2023             9.543976

[13500 rows x 3 columns]>

In [25]:
print(df_global.columns) 
print(df_us.columns)     
print(df_wb_clean.columns)

Index(['Country', 'Year', 'FemalePercent_Global', 'Female Graduation Rate (%)',
       'Field', 'Gender Gap Index'],
      dtype='object')
Index(['Year', 'Field', 'FemalePercent_US'], dtype='object')
Index(['Country', 'Year', 'FemalePercent_World'], dtype='object')

In [26]:
# now we merge all 3 datasets

# 4. Merge datasets
df_merge1 = pd.merge(df_global, df_us, on=['Year','Field'], how='inner')
df_final = pd.merge(df_merge1, df_wb_clean[['Country','Year','FemalePercent_World']],
                    on=['Country','Year'], how='left')

In [27]:
df_final.head(20)

,Country,Year,FemalePercent_Global,Female Graduation Rate (%),Field,Gender Gap Index,FemalePercent_US,FemalePercent_World
0,Australia,2000,68.0,31.3,Engineering,0.51,40.023585,92.496029
1,Australia,2000,68.0,31.3,Engineering,0.51,18.400000,92.496029
2,Australia,2000,55.0,43.1,Mathematics,0.98,48.200000,92.496029
3,Australia,2000,68.2,62.5,Biology,0.99,59.389857,92.496029
4,Australia,2000,25.3,41.7,Computer Science,0.97,27.700000,92.496029
5,Australia,2000,50.8,27.6,Mathematics,0.76,48.200000,92.496029
6,Australia,2000,47.5,11.0,Computer Science,0.73,27.700000,92.496029
7,Australia,2000,30.4,32.9,Computer Science,0.83,27.700000,92.496029
8,Canada,2000,58.1,16.2,Biology,0.97,59.389857,67.270714
9,Canada,2000,21.0,21.3,Computer Science,0.88,27.700000,67.270714
10,China,2000,59.9,45.6,Mathematics,0.85,48.200000,9.554810
11,China,2000,48.1,57.3,Computer Science,0.79,27.700000,9.554810
12,China,2000,31.3,23.6,Computer Science,0.74,27.700000,9.554810
13,China,2000,33.8,19.0,Biology,0.73,59.389857,9.554810
14,Germany,2000,46.0,19.4,Biology,0.80,59.389857,48.145587
15,Germany,2000,58.9,49.7,Mathematics,0.81,48.200000,48.145587
16,India,2000,29.5,38.1,Engineering,0.90,40.023585,7.602530
17,India,2000,29.5,38.1,Engineering,0.90,18.400000,7.602530
18,India,2000,42.4,40.4,Mathematics,0.66,48.200000,7.602530
19,India,2000,27.7,34.5,Biology,0.52,59.389857,7.602530

In [29]:
# Rename columns for clarity
df_final.rename(columns={
    'FemalePercent_Global': 'Global_Female_Enrollment_%',
    'FemalePercent_US':      'US_Female_Degree_%',
    'FemalePercent_World':   'Global_Female_Tertiary_%'
}, inplace=True)

In [30]:
# Year as integer
df_final['Year'] = df_final['Year'].astype(int)  # cast to int 

# Percentages to float
for col in ['Global_Female_Enrollment_%', 'US_Female_Degree_%', 'Global_Female_Tertiary_%']:
    df_final[col] = pd.to_numeric(df_final[col], errors='coerce')  # convert to numeric, NaN if invalid :contentReference[oaicite:2]{index=2}

In [31]:
print(df_final.isna().sum())  # count nulls per column :contentReference

Country                        0
Year                           0
Global_Female_Enrollment_%     0
Female Graduation Rate (%)     0
Field                          0
Gender Gap Index               0
US_Female_Degree_%             0
Global_Female_Tertiary_%      48
dtype: int64

In [32]:
df_final = df_final.dropna(subset=[
    'Global_Female_Enrollment_%', 
    'US_Female_Degree_%',
    'Global_Female_Tertiary_%'
])  # drop rows missing key STEM metrics

In [33]:
for col in ['Global_Female_Enrollment_%', 'US_Female_Degree_%', 'Global_Female_Tertiary_%']:
    df_final.loc[:, col] = df_final[col].clip(lower=0, upper=100)

In [34]:
df_final.head(20)

,Country,Year,Global_Female_Enrollment_%,Female Graduation Rate (%),Field,Gender Gap Index,US_Female_Degree_%,Global_Female_Tertiary_%
0,Australia,2000,68.0,31.3,Engineering,0.51,40.023585,92.496029
1,Australia,2000,68.0,31.3,Engineering,0.51,18.400000,92.496029
2,Australia,2000,55.0,43.1,Mathematics,0.98,48.200000,92.496029
3,Australia,2000,68.2,62.5,Biology,0.99,59.389857,92.496029
4,Australia,2000,25.3,41.7,Computer Science,0.97,27.700000,92.496029
5,Australia,2000,50.8,27.6,Mathematics,0.76,48.200000,92.496029
6,Australia,2000,47.5,11.0,Computer Science,0.73,27.700000,92.496029
7,Australia,2000,30.4,32.9,Computer Science,0.83,27.700000,92.496029
8,Canada,2000,58.1,16.2,Biology,0.97,59.389857,67.270714
9,Canada,2000,21.0,21.3,Computer Science,0.88,27.700000,67.270714
10,China,2000,59.9,45.6,Mathematics,0.85,48.200000,9.554810
11,China,2000,48.1,57.3,Computer Science,0.79,27.700000,9.554810
12,China,2000,31.3,23.6,Computer Science,0.74,27.700000,9.554810
13,China,2000,33.8,19.0,Biology,0.73,59.389857,9.554810
14,Germany,2000,46.0,19.4,Biology,0.80,59.389857,48.145587
15,Germany,2000,58.9,49.7,Mathematics,0.81,48.200000,48.145587
16,India,2000,29.5,38.1,Engineering,0.90,40.023585,7.602530
17,India,2000,29.5,38.1,Engineering,0.90,18.400000,7.602530
18,India,2000,42.4,40.4,Mathematics,0.66,48.200000,7.602530
19,India,2000,27.7,34.5,Biology,0.52,59.389857,7.602530

In [35]:
# 5. Display sample and export
df_final.head()
output_path = 'final_stem_gender_merged2.csv'
df_final.to_csv(output_path, index=False)
output_path

'final_stem_gender_merged2.csv'