In [3]:
import pandas as pd

# Load the CSV file

df = pd.read_csv('stem_grid_2.csv')

# Display the first few rows to understand the structure
df.head()

,country,year,pct_female_stem,pct_male_stem,pct_female_in_NSMS,pct_female_in_ICT,pct_female_in_ECM,pct_male_in_NSMS,pct_male_in_ICT,pct_male_in_ECM,country_name
0,ABW,2000,8.166657,91.833343,0.0,0.0,100.0,0.0,0.0,100.0,Aruba
1,ABW,2001,6.056936,93.943064,0.0,0.0,100.0,0.0,0.0,100.0,Aruba
2,ABW,2002,14.398253,85.601747,0.0,0.0,100.0,0.0,0.0,100.0,Aruba
3,ABW,2003,3.942177,96.057823,0.0,0.0,100.0,0.0,0.0,100.0,Aruba
4,ABW,2004,7.210623,92.789377,0.0,0.0,100.0,0.0,0.0,100.0,Aruba

In [4]:
df = df.drop(columns=['pct_male_stem', 'pct_male_in_NSMS','pct_male_in_ICT', 'pct_male_in_ECM'])
df.head(60)

,country,year,pct_female_stem,pct_female_in_NSMS,pct_female_in_ICT,pct_female_in_ECM,country_name
0,ABW,2000,8.166657,0.000000,0.000000,100.000000,Aruba
1,ABW,2001,6.056936,0.000000,0.000000,100.000000,Aruba
2,ABW,2002,14.398253,0.000000,0.000000,100.000000,Aruba
3,ABW,2003,3.942177,0.000000,0.000000,100.000000,Aruba
4,ABW,2004,7.210623,0.000000,0.000000,100.000000,Aruba
5,ABW,2005,6.881487,0.000000,0.000000,100.000000,Aruba
6,ABW,2006,0.000000,NaN,NaN,NaN,Aruba
7,ABW,2007,13.235296,0.000000,0.000000,100.000000,Aruba
8,ABW,2008,10.060983,0.000000,0.000000,100.000000,Aruba
9,ABW,2009,7.820124,0.000000,0.000000,100.000000,Aruba
10,ABW,2010,3.856189,0.000000,0.000000,100.000000,Aruba
11,ABW,2011,9.752556,0.000000,0.000000,100.000000,Aruba
12,ABW,2012,11.568402,0.000000,0.000000,100.000000,Aruba
13,ABW,2013,NaN,NaN,NaN,NaN,Aruba
14,ABW,2014,NaN,NaN,NaN,NaN,Aruba
15,ABW,2015,NaN,NaN,NaN,NaN,Aruba
16,ABW,2016,22.772245,100.000000,0.000000,0.000000,Aruba
17,ABW,2017,NaN,NaN,NaN,NaN,Aruba
18,ABW,2018,NaN,NaN,NaN,NaN,Aruba
19,ABW,2019,NaN,NaN,NaN,NaN,Aruba
20,ABW,2020,NaN,NaN,NaN,NaN,Aruba
21,ABW,2021,NaN,NaN,NaN,NaN,Aruba
22,ABW,2022,NaN,NaN,NaN,NaN,Aruba
23,ABW,2023,NaN,NaN,NaN,NaN,Aruba
24,ABW,2024,NaN,NaN,NaN,NaN,Aruba
25,AFG,2000,NaN,NaN,NaN,NaN,Afghanistan
26,AFG,2001,NaN,NaN,NaN,NaN,Afghanistan
27,AFG,2002,NaN,NaN,NaN,NaN,Afghanistan
28,AFG,2003,NaN,NaN,NaN,NaN,Afghanistan
29,AFG,2004,NaN,NaN,NaN,NaN,Afghanistan
30,AFG,2005,NaN,NaN,NaN,NaN,Afghanistan
31,AFG,2006,NaN,NaN,NaN,NaN,Afghanistan
32,AFG,2007,NaN,NaN,NaN,NaN,Afghanistan
33,AFG,2008,NaN,NaN,NaN,NaN,Afghanistan
34,AFG,2009,NaN,NaN,NaN,NaN,Afghanistan
35,AFG,2010,NaN,NaN,NaN,NaN,Afghanistan
36,AFG,2011,NaN,NaN,NaN,NaN,Afghanistan
37,AFG,2012,NaN,NaN,NaN,NaN,Afghanistan
38,AFG,2013,NaN,NaN,NaN,NaN,Afghanistan
39,AFG,2014,NaN,NaN,NaN,NaN,Afghanistan
40,AFG,2015,NaN,NaN,NaN,NaN,Afghanistan
41,AFG,2016,NaN,NaN,NaN,NaN,Afghanistan
42,AFG,2017,NaN,NaN,NaN,NaN,Afghanistan
43,AFG,2018,NaN,NaN,NaN,NaN,Afghanistan
44,AFG,2019,NaN,NaN,NaN,NaN,Afghanistan
45,AFG,2020,27.956162,24.685178,48.362729,26.952093,Afghanistan
46,AFG,2021,NaN,NaN,NaN,NaN,Afghanistan
47,AFG,2022,NaN,NaN,NaN,NaN,Afghanistan
48,AFG,2023,NaN,NaN,NaN,NaN,Afghanistan
49,AFG,2024,NaN,NaN,NaN,NaN,Afghanistan
50,AGO,2000,NaN,NaN,NaN,NaN,Angola
51,AGO,2001,NaN,NaN,NaN,NaN,Angola
52,AGO,2002,49.924703,46.153850,7.692299,46.153850,Angola
53,AGO,2003,NaN,NaN,NaN,NaN,Angola
54,AGO,2004,NaN,NaN,NaN,NaN,Angola
55,AGO,2005,NaN,NaN,NaN,NaN,Angola
56,AGO,2006,NaN,NaN,NaN,NaN,Angola
57,AGO,2007,NaN,NaN,NaN,NaN,Angola
58,AGO,2008,NaN,NaN,NaN,NaN,Angola
59,AGO,2009,NaN,NaN,NaN,NaN,Angola

In [5]:
df.dropna(subset=['pct_female_stem'], inplace=True)
df.head(60)

,country,year,pct_female_stem,pct_female_in_NSMS,pct_female_in_ICT,pct_female_in_ECM,country_name
0,ABW,2000,8.166657,0.000000,0.000000,100.000000,Aruba
1,ABW,2001,6.056936,0.000000,0.000000,100.000000,Aruba
2,ABW,2002,14.398253,0.000000,0.000000,100.000000,Aruba
3,ABW,2003,3.942177,0.000000,0.000000,100.000000,Aruba
4,ABW,2004,7.210623,0.000000,0.000000,100.000000,Aruba
5,ABW,2005,6.881487,0.000000,0.000000,100.000000,Aruba
6,ABW,2006,0.000000,NaN,NaN,NaN,Aruba
7,ABW,2007,13.235296,0.000000,0.000000,100.000000,Aruba
8,ABW,2008,10.060983,0.000000,0.000000,100.000000,Aruba
9,ABW,2009,7.820124,0.000000,0.000000,100.000000,Aruba
10,ABW,2010,3.856189,0.000000,0.000000,100.000000,Aruba
11,ABW,2011,9.752556,0.000000,0.000000,100.000000,Aruba
12,ABW,2012,11.568402,0.000000,0.000000,100.000000,Aruba
16,ABW,2016,22.772245,100.000000,0.000000,0.000000,Aruba
45,AFG,2020,27.956162,24.685178,48.362729,26.952093,Afghanistan
52,AGO,2002,49.924703,46.153850,7.692299,46.153850,Angola
65,AGO,2015,41.523311,38.831634,39.003433,22.164933,Angola
100,ALB,2000,19.157408,32.407380,9.259335,58.333285,Albania
103,ALB,2003,23.197815,26.950371,26.950371,46.099257,Albania
111,ALB,2011,34.873327,48.133583,15.455150,36.411266,Albania
115,ALB,2015,38.434484,40.409045,25.968395,33.622560,Albania
116,ALB,2016,34.818054,37.743481,24.513038,37.743481,Albania
117,ALB,2017,34.777130,35.859772,29.688471,34.451756,Albania
118,ALB,2018,33.615334,31.234853,30.690053,38.075094,Albania
119,ALB,2019,31.950870,34.313722,26.944945,38.741333,Albania
120,ALB,2020,30.028666,31.562896,24.729380,43.707724,Albania
121,ALB,2021,27.869774,28.373676,27.028100,44.598225,Albania
122,ALB,2022,29.205201,27.455765,27.247462,45.296773,Albania
123,ALB,2023,29.849524,23.542057,29.409657,47.048286,Albania
127,AND,2002,16.167665,0.000000,100.000000,0.000000,Andorra
128,AND,2003,24.516127,0.000000,100.000000,0.000000,Andorra
129,AND,2004,12.234043,0.000000,100.000000,0.000000,Andorra
130,AND,2005,14.798206,0.000000,100.000000,0.000000,Andorra
131,AND,2006,0.000000,NaN,NaN,NaN,Andorra
133,AND,2008,10.891090,0.000000,100.000000,0.000000,Andorra
137,AND,2012,13.103438,0.000000,100.000000,0.000000,Andorra
140,AND,2015,0.000000,NaN,NaN,NaN,Andorra
141,AND,2016,12.068945,0.000000,100.000000,0.000000,Andorra
142,AND,2017,65.079385,0.000000,100.000000,0.000000,Andorra
143,AND,2018,0.000000,NaN,NaN,NaN,Andorra
144,AND,2019,12.109374,0.000000,100.000000,0.000000,Andorra
145,AND,2020,12.755107,0.000000,100.000000,0.000000,Andorra
146,AND,2021,34.718079,66.666667,33.333333,0.000000,Andorra
147,AND,2022,28.331467,0.000000,18.181818,81.818182,Andorra
148,AND,2023,14.712148,0.000000,100.000000,0.000000,Andorra
168,ARE,2018,38.454844,10.965966,28.871277,60.162757,United Arab Emirates
169,ARE,2019,39.126195,11.210780,28.946200,59.843020,United Arab Emirates
170,ARE,2020,45.850441,9.541016,19.764496,70.694489,United Arab Emirates
171,ARE,2021,41.691310,11.221651,26.218003,62.560345,United Arab Emirates
172,ARE,2022,43.190126,11.199268,27.146512,61.654219,United Arab Emirates
173,ARE,2023,44.232465,11.055287,22.574410,66.370303,United Arab Emirates
181,ARG,2006,31.265600,33.954715,33.621098,32.424186,Argentina
182,ARG,2007,31.415396,35.212372,28.213011,36.574617,Argentina
183,ARG,2008,28.496194,40.351294,24.727300,34.921406,Argentina
184,ARG,2009,30.462501,38.807578,21.471715,39.720707,Argentina
185,ARG,2010,29.461769,40.924136,19.646162,39.429702,Argentina
193,ARG,2018,31.968129,52.323216,9.327727,38.349057,Argentina
195,ARG,2020,31.649851,56.942783,8.019094,35.038123,Argentina
196,ARG,2021,31.143184,54.134660,7.887659,37.977681,Argentina
197,ARG,2022,30.873527,51.645998,7.515042,40.838960,Argentina

In [6]:

output_path = 'worldy.csv'
df.to_csv(output_path, index=False)
output_path

'worldy.csv'